body{
    font-family: sans-serif;
    margin: 0;
}
/* Menu */
#header {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo {
    width: 250px;
    height: 120px;
    margin-left: 50px;
}

#menu {
    text-align: center;
   
}

#menu li {
    display: inline;
    margin: 10px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li a{
    display: block;
}
#menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #db0000;
    
}

#menu a:hover {
    background-color: #ca0303;
    color: #000;
}
/* Começo do conteudo */
body{
    background-image: url(Imagens/conver.png);
    background-size: cover;
    background-repeat: no-repeat;
 }
 h2{
     margin-top: 100px;
     text-align: center;
     color: white;
 }
 .decisao2{
     text-align: center;
     background-color: rgb(44, 50, 78);
     color: white;
     max-width: 800px;
     margin-top: 40px;
     margin: 0 auto;
 }
 .d2{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 a{
     color: white;
     text-decoration: none;
 }
 #temporizador{
    font-weight: bolder;
}
/* Rodapé */
#footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin-top: 100px;
    color: #fff;
}
#tudo a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
}